bin/Debug/netcoreapp3.0/CoreWebAPP.dll
bin/Debug/netcoreapp3.0/CoreWebAPP.exe
bin/Debug/netcoreapp3.0/CoreWebAPP.Views.dll
bin/Release/netcoreapp3.0/CoreWebAPP.dll
bin/Release/netcoreapp3.0/CoreWebAPP.exe
bin/Release/netcoreapp3.0/CoreWebAPP.pdb
bin/Release/netcoreapp3.0/CoreWebAPP.Views.dll
bin/Release/netcoreapp3.0/CoreWebAPP.Views.pdb
bin/Release/netcoreapp3.0/publish/CoreWebAPP.dll
bin/Release/netcoreapp3.0/publish/CoreWebAPP.exe
bin/Release/netcoreapp3.0/publish/CoreWebAPP.pdb
bin/Release/netcoreapp3.0/publish/CoreWebAPP.Views.dll
bin/Release/netcoreapp3.0/publish/CoreWebAPP.Views.pdb
bin/Release/netcoreapp3.0/publish/web.config
bin/Release/netcoreapp3.0/publish/wwwroot/favicon.ico
bin/Release/netcoreapp3.0/publish/wwwroot/css/site.css
bin/Release/netcoreapp3.0/publish/wwwroot/js/site.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/LICENSE
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery/LICENSE.txt
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery/dist/jquery.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery/dist/jquery.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery/dist/jquery.min.map
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation/LICENSE.md
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
bin/Release/netcoreapp3.0/publish/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
obj/CoreWebAPP.csproj.nuget.cache
obj/CoreWebAPP.csproj.nuget.g.props
obj/CoreWebAPP.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/CoreWebAPP.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/CoreWebAPP.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.assets.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/CoreWebAPP.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.exe
obj/Debug/netcoreapp3.0/CoreWebAPP.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.0/CoreWebAPP.Views.dll
obj/Release/netcoreapp3.0/CoreWebAPP.AssemblyInfo.cs
obj/Release/netcoreapp3.0/CoreWebAPP.AssemblyInfoInputs.cache
obj/Release/netcoreapp3.0/CoreWebAPP.assets.cache
obj/Release/netcoreapp3.0/CoreWebAPP.csproj.CopyComplete
obj/Release/netcoreapp3.0/CoreWebAPP.csproj.FileListAbsolute.txt
obj/Release/netcoreapp3.0/CoreWebAPP.csprojAssemblyReference.cache
obj/Release/netcoreapp3.0/CoreWebAPP.dll
obj/Release/netcoreapp3.0/CoreWebAPP.exe
obj/Release/netcoreapp3.0/CoreWebAPP.MvcApplicationPartsAssemblyInfo.cache
obj/Release/netcoreapp3.0/CoreWebAPP.pdb
obj/Release/netcoreapp3.0/CoreWebAPP.RazorAssemblyInfo.cache
obj/Release/netcoreapp3.0/CoreWebAPP.RazorAssemblyInfo.cs
obj/Release/netcoreapp3.0/CoreWebAPP.RazorCoreGenerate.cache
obj/Release/netcoreapp3.0/CoreWebAPP.RazorTargetAssemblyInfo.cache
obj/Release/netcoreapp3.0/CoreWebAPP.RazorTargetAssemblyInfo.cs
obj/Release/netcoreapp3.0/CoreWebAPP.TagHelpers.input.cache
obj/Release/netcoreapp3.0/CoreWebAPP.TagHelpers.output.cache
obj/Release/netcoreapp3.0/CoreWebAPP.Views.dll
obj/Release/netcoreapp3.0/CoreWebAPP.Views.pdb
obj/Release/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Release/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Release/netcoreapp3.0/staticwebassets/CoreWebAPP.StaticWebAssets.Manifest.cache
obj/Release/netcoreapp3.0/staticwebassets/CoreWebAPP.StaticWebAssets.xml
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.0/appsettings.Development.json
bin/Debug/netcoreapp3.0/appsettings.json
bin/Debug/netcoreapp3.0/CoreWebAPP.deps.json
bin/Debug/netcoreapp3.0/CoreWebAPP.pdb
bin/Debug/netcoreapp3.0/CoreWebAPP.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/CoreWebAPP.runtimeconfig.json
bin/Debug/netcoreapp3.0/CoreWebAPP.Views.pdb
bin/Debug/netcoreapp3.0/Properties/launchSettings.json
.gitignore
obj/Debug/netcoreapp3.0/CoreWebAPP.csproj.CopyComplete
obj/Debug/netcoreapp3.0/CoreWebAPP.dll
obj/Debug/netcoreapp3.0/CoreWebAPP.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.pdb
obj/Debug/netcoreapp3.0/CoreWebAPP.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.0/CoreWebAPP.TagHelpers.input.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.TagHelpers.output.cache
obj/Debug/netcoreapp3.0/CoreWebAPP.Views.pdb
obj/Debug/netcoreapp3.0/Razor/Views/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Index.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Home/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Views/Shared/Error.cshtml.g.cs
obj/Debug/netcoreapp3.0/staticwebassets/CoreWebAPP.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.0/staticwebassets/CoreWebAPP.StaticWebAssets.xml
